html {
	height: 100%;
}

body {
	margin: auto;
}

.head__item {
	color: #7c7c7c;
}

ul, li{
	padding: 0;
	text-decoration: none;
	list-style: none;
}

.header__nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 40px;
}

.header {
	width: 100%;
	justify-content: center;
	align-items: center;
	padding-bottom: 20px;
	background-color: rgb(234, 103, 177);
}

footer {
	width: 100%;
	background-color: chartreuse;
}

.head__list {
	display: flex;
	gap: 50px;
	display: none;
}

.head__item {
	transition: border-bottom 0.4s ease;
}

.h1__PC {
	display: none;
}

ul {
	list-style: none;
	padding-right: 40px;
}

.name {
	text-align: center;
}

main {
	background-color: beige;
	max-width: 100%;
	margin: auto;
	display: flex;
	flex-direction: column;
}

ol {
	list-style-type: none;
	padding-left: 0; /* Убирает отступы */
}

.container__table {
	order: 0;
}

.container__links {
	order: 1;
}

.container__form {
	order: 2;
}

table {
	width: 40%;
	border-collapse: collapse;
	text-align: center;
}

td {
	border: 2px solid black;
	padding: 10px;
	font-size: 18px;
}

th {
	border: 2px solid black;
	padding: 10px;
	font-size: 18px;
	background-color: white;
}

td:nth-child(odd) {
	background-color: rgb(33, 203, 69);
	color: white;
}

td:nth-child(even) {
	background-color: rgb(10, 167, 136);
	color: blue;
}

a {
	text-decoration: none;
}

header {
	background-color: #7c7c7c;
}

@media (min-width: 768px) {
	main {
		background-color: beige;
		max-width: 960px;
		margin: auto;
		display: block;
	}

	.h1__PC {
		display: contents;
	}

	.head__item__mobile {
		display: none;
	}

	.h1__mobile {
		display: none;
	}

	.head__list {
		display: flex;
		gap: 50px;
		display: content;
	}
}
